In [1]:
import numpy as np

In [2]:
from numpy import genfromtxt

In [5]:
my_data=genfromtxt('example.csv', encoding='utf-8')

ValueError: Some errors were detected !
    Line #2 (got 2 columns instead of 1)
    Line #7 (got 2 columns instead of 1)
    Line #11 (got 2 columns instead of 1)
    Line #13 (got 2 columns instead of 1)
    Line #16 (got 2 columns instead of 1)
    Line #19 (got 2 columns instead of 1)
    Line #30 (got 2 columns instead of 1)
    Line #31 (got 2 columns instead of 1)
    Line #34 (got 2 columns instead of 1)
    Line #36 (got 2 columns instead of 1)
    Line #51 (got 2 columns instead of 1)
    Line #55 (got 2 columns instead of 1)
    Line #57 (got 2 columns instead of 1)
    Line #63 (got 5 columns instead of 1)
    Line #67 (got 2 columns instead of 1)
    Line #78 (got 2 columns instead of 1)
    Line #80 (got 2 columns instead of 1)
    Line #82 (got 2 columns instead of 1)
    Line #93 (got 2 columns instead of 1)
    Line #101 (got 2 columns instead of 1)
    Line #105 (got 3 columns instead of 1)
    Line #113 (got 2 columns instead of 1)
    Line #126 (got 4 columns instead of 1)
    Line #130 (got 3 columns instead of 1)
    Line #133 (got 2 columns instead of 1)
    Line #135 (got 2 columns instead of 1)
    Line #139 (got 4 columns instead of 1)
    Line #144 (got 2 columns instead of 1)
    Line #149 (got 2 columns instead of 1)
    Line #152 (got 2 columns instead of 1)
    Line #153 (got 3 columns instead of 1)
    Line #163 (got 2 columns instead of 1)
    Line #166 (got 4 columns instead of 1)
    Line #182 (got 2 columns instead of 1)
    Line #193 (got 2 columns instead of 1)
    Line #195 (got 3 columns instead of 1)
    Line #197 (got 2 columns instead of 1)
    Line #207 (got 2 columns instead of 1)
    Line #209 (got 3 columns instead of 1)
    Line #213 (got 4 columns instead of 1)
    Line #214 (got 2 columns instead of 1)
    Line #220 (got 2 columns instead of 1)
    Line #224 (got 2 columns instead of 1)
    Line #225 (got 2 columns instead of 1)
    Line #227 (got 2 columns instead of 1)
    Line #238 (got 2 columns instead of 1)
    Line #243 (got 4 columns instead of 1)
    Line #244 (got 2 columns instead of 1)
    Line #248 (got 2 columns instead of 1)
    Line #256 (got 2 columns instead of 1)
    Line #258 (got 2 columns instead of 1)
    Line #267 (got 2 columns instead of 1)
    Line #272 (got 2 columns instead of 1)
    Line #282 (got 3 columns instead of 1)
    Line #285 (got 3 columns instead of 1)
    Line #295 (got 2 columns instead of 1)
    Line #300 (got 3 columns instead of 1)
    Line #301 (got 2 columns instead of 1)
    Line #310 (got 3 columns instead of 1)
    Line #313 (got 2 columns instead of 1)
    Line #314 (got 2 columns instead of 1)
    Line #315 (got 2 columns instead of 1)
    Line #317 (got 2 columns instead of 1)
    Line #318 (got 3 columns instead of 1)
    Line #331 (got 2 columns instead of 1)
    Line #332 (got 3 columns instead of 1)
    Line #334 (got 2 columns instead of 1)
    Line #335 (got 2 columns instead of 1)
    Line #339 (got 2 columns instead of 1)
    Line #352 (got 2 columns instead of 1)
    Line #355 (got 2 columns instead of 1)
    Line #364 (got 2 columns instead of 1)
    Line #369 (got 2 columns instead of 1)
    Line #374 (got 3 columns instead of 1)
    Line #375 (got 3 columns instead of 1)
    Line #384 (got 2 columns instead of 1)
    Line #394 (got 2 columns instead of 1)
    Line #397 (got 3 columns instead of 1)
    Line #405 (got 2 columns instead of 1)
    Line #410 (got 2 columns instead of 1)
    Line #414 (got 3 columns instead of 1)
    Line #430 (got 2 columns instead of 1)
    Line #431 (got 3 columns instead of 1)
    Line #433 (got 2 columns instead of 1)
    Line #443 (got 4 columns instead of 1)
    Line #444 (got 3 columns instead of 1)
    Line #445 (got 3 columns instead of 1)
    Line #447 (got 2 columns instead of 1)
    Line #457 (got 2 columns instead of 1)
    Line #458 (got 2 columns instead of 1)
    Line #468 (got 2 columns instead of 1)
    Line #469 (got 3 columns instead of 1)
    Line #471 (got 2 columns instead of 1)
    Line #476 (got 2 columns instead of 1)
    Line #481 (got 2 columns instead of 1)
    Line #485 (got 2 columns instead of 1)
    Line #498 (got 4 columns instead of 1)
    Line #503 (got 2 columns instead of 1)
    Line #507 (got 2 columns instead of 1)
    Line #514 (got 2 columns instead of 1)
    Line #521 (got 2 columns instead of 1)
    Line #533 (got 2 columns instead of 1)
    Line #535 (got 2 columns instead of 1)
    Line #567 (got 2 columns instead of 1)
    Line #577 (got 2 columns instead of 1)
    Line #586 (got 2 columns instead of 1)
    Line #589 (got 4 columns instead of 1)
    Line #590 (got 2 columns instead of 1)
    Line #593 (got 2 columns instead of 1)
    Line #600 (got 2 columns instead of 1)
    Line #601 (got 2 columns instead of 1)
    Line #602 (got 2 columns instead of 1)
    Line #612 (got 2 columns instead of 1)
    Line #618 (got 2 columns instead of 1)
    Line #619 (got 2 columns instead of 1)
    Line #621 (got 2 columns instead of 1)
    Line #628 (got 2 columns instead of 1)
    Line #639 (got 3 columns instead of 1)
    Line #652 (got 2 columns instead of 1)
    Line #659 (got 2 columns instead of 1)
    Line #663 (got 2 columns instead of 1)
    Line #665 (got 2 columns instead of 1)
    Line #681 (got 2 columns instead of 1)
    Line #684 (got 2 columns instead of 1)
    Line #687 (got 2 columns instead of 1)
    Line #690 (got 2 columns instead of 1)
    Line #706 (got 2 columns instead of 1)
    Line #709 (got 3 columns instead of 1)
    Line #714 (got 2 columns instead of 1)
    Line #717 (got 2 columns instead of 1)
    Line #720 (got 2 columns instead of 1)
    Line #733 (got 3 columns instead of 1)
    Line #739 (got 2 columns instead of 1)
    Line #740 (got 3 columns instead of 1)
    Line #742 (got 3 columns instead of 1)
    Line #743 (got 2 columns instead of 1)
    Line #746 (got 3 columns instead of 1)
    Line #747 (got 2 columns instead of 1)
    Line #757 (got 2 columns instead of 1)
    Line #758 (got 4 columns instead of 1)
    Line #761 (got 3 columns instead of 1)
    Line #763 (got 2 columns instead of 1)
    Line #774 (got 2 columns instead of 1)
    Line #780 (got 2 columns instead of 1)
    Line #781 (got 2 columns instead of 1)
    Line #791 (got 2 columns instead of 1)
    Line #792 (got 3 columns instead of 1)
    Line #798 (got 4 columns instead of 1)
    Line #800 (got 2 columns instead of 1)
    Line #808 (got 2 columns instead of 1)
    Line #816 (got 2 columns instead of 1)
    Line #821 (got 2 columns instead of 1)
    Line #825 (got 2 columns instead of 1)
    Line #836 (got 2 columns instead of 1)
    Line #839 (got 2 columns instead of 1)
    Line #840 (got 2 columns instead of 1)
    Line #841 (got 2 columns instead of 1)
    Line #848 (got 4 columns instead of 1)
    Line #852 (got 4 columns instead of 1)
    Line #854 (got 3 columns instead of 1)
    Line #858 (got 2 columns instead of 1)
    Line #860 (got 5 columns instead of 1)
    Line #863 (got 3 columns instead of 1)
    Line #865 (got 2 columns instead of 1)
    Line #866 (got 2 columns instead of 1)
    Line #870 (got 2 columns instead of 1)
    Line #873 (got 2 columns instead of 1)
    Line #877 (got 4 columns instead of 1)
    Line #879 (got 2 columns instead of 1)
    Line #881 (got 2 columns instead of 1)
    Line #893 (got 3 columns instead of 1)
    Line #904 (got 3 columns instead of 1)
    Line #907 (got 2 columns instead of 1)
    Line #908 (got 2 columns instead of 1)
    Line #910 (got 2 columns instead of 1)
    Line #917 (got 2 columns instead of 1)
    Line #921 (got 2 columns instead of 1)
    Line #927 (got 2 columns instead of 1)
    Line #929 (got 2 columns instead of 1)
    Line #933 (got 2 columns instead of 1)
    Line #934 (got 2 columns instead of 1)
    Line #944 (got 2 columns instead of 1)
    Line #949 (got 2 columns instead of 1)
    Line #954 (got 2 columns instead of 1)
    Line #968 (got 2 columns instead of 1)
    Line #969 (got 2 columns instead of 1)
    Line #976 (got 2 columns instead of 1)
    Line #977 (got 3 columns instead of 1)
    Line #980 (got 2 columns instead of 1)
    Line #982 (got 3 columns instead of 1)
    Line #986 (got 2 columns instead of 1)
    Line #988 (got 2 columns instead of 1)
    Line #991 (got 2 columns instead of 1)
    Line #995 (got 2 columns instead of 1)
    Line #998 (got 3 columns instead of 1)
    Line #1001 (got 2 columns instead of 1)

In [6]:
import pandas as pd

In [7]:
labels = ['a','b','c']
my_data=[10,20,30]
arr=np.array(my_data)
d={'a':10,'b':20,'c':30}

In [9]:
pd.Series(data=my_data)

0    10
1    20
2    30
dtype: int64

In [10]:
pd.Series(data=my_data,index=labels)

a    10
b    20
c    30
dtype: int64

<p><b> Unlike "Numpy" there is indexing in "Pandas" which can be automatic generation </b></p>

In [11]:
pd.Series(my_data,labels)

a    10
b    20
c    30
dtype: int64

In [12]:
arr

array([10, 20, 30])

In [13]:
pd.Series(arr)

0    10
1    20
2    30
dtype: int32

In [14]:
pd.Series(arr,labels)

a    10
b    20
c    30
dtype: int32

In [15]:
pd.Series(d)

a    10
b    20
c    30
dtype: int64

In [16]:
d

{'a': 10, 'b': 20, 'c': 30}

<p><b> pandas series can contains any type of data like it can contain built-in function as well </b></p>

In [17]:
pd.Series(data=['sum','len','print'])

0      sum
1      len
2    print
dtype: object

In [18]:
pd.Series(data=[sum,len,print])

0      <built-in function sum>
1      <built-in function len>
2    <built-in function print>
dtype: object

In [19]:
ser1=pd.Series([1,2,3,4],['USA','Japan','Germany','America'])

In [20]:
ser1

USA        1
Japan      2
Germany    3
America    4
dtype: int64

In [23]:
ser1['USA']

1

In [24]:
ser2 = pd.Series([1,2,5,4],['USA','Germany','Italy','Japan'])

In [25]:
ser2

USA        1
Germany    2
Italy      5
Japan      4
dtype: int64

<p><b> when you will add two series together then it will find matching column and join it, all integers are added and converted to float values, as shown in example below; </b></p>

In [26]:
ser1 + ser2

America    NaN
Germany    5.0
Italy      NaN
Japan      6.0
USA        2.0
dtype: float64